.footer{
    background-color: var(--laranja);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    padding: 1rem;
    color: var(--bg-1);
}

.address p{
    font-weight: 500;
}



