*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --laranja:#AD2600;
    --verde:#245B0A;
    --bg-1:#FFFFFF;
    --bg-2:#F8FAFF;
    --black-1:#141414;
    --gap:1.25rem;
}

body,html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--bg-2);

}
.container{
    display: flex;
    flex-direction: column;
    padding: var(--gap);
}

button{
    padding: 1em 2em;
    color: var(--bg-1);
    background: var(--laranja);
    border: none;
    border-radius: 10em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

section{
    height: 100vh;
}
p{
    font-size: 1rem;
}