*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --laranja:#AD2600;
    --verde:#245B0A;
    --bg-1:#FFFFFF;
    --bg-2:#F8FAFF;
    --black-1:#141414;
    --gap:1.25rem;
    --cinza:#f0f0f0;
}

body,html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--bg-2);

}
.container{
    display: flex;
    flex-direction: column;
    padding: var(--gap);
}

.button{
    padding: 1em 2em;
    color: var(--bg-1);
    background: var(--laranja);
    border: none;
    border-radius: 10em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover{
    color: var(--laranja);
    background-color: var(--bg-1);
    animation-duration: .2s;
    border: 1px solid var(--laranja);
}

.close{
    text-transform: uppercase;
    align-self: flex-end;
    border: none;
    color: var(--bg-1);
    margin-bottom: var(--gap);
    padding: 0.5em;
    background-color: var(--laranja);
    cursor: pointer;
    font-weight: 600;
    border-radius: .5em;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;

}
.close:hover{
    transform: scale(1.1);
    transition-duration: .2s;
    border: 1px solid var(--bg-1);
}


h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

section{
    height: 100vh;
    max-height: 100%;
}
p{
    font-size: 1rem;
}

li{
    list-style: none;
}

input,select{
    background-color: var(--cinza);
    border: none;
    padding: .2em .5em;
    border-radius: 5px;
    width: 100%; 
    height: 2.5em;
}

::placeholder{
    color: #a1a1a1 ;
}

label{
    font-weight: 600;
    margin-top: .5em;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5em;
    margin-bottom: 1.5rem;
}

.col{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
}

legend{
    font-weight: 500;
}

input[type='radio'] {
    accent-color: var(--black-1);
    background: var(--bg-1);

}
textarea{
    background-color: var(--cinza);
     border: none;
    padding: .2em .5em;
    border-radius: 5px;
    width: 100%;
    height: 120px;
    resize: none;
}

.error{
    color:rgba(224, 32, 32, 0.699);
}



@media (max-width:500px) {
    .logo {
        width: calc(30vw - 10px);
    }
   
}

