.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section div{
    width: 40vw;

}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/images/notebook.webp);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
}

.play{
    background-color: transparent;
    border: none;
}


.desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap);
}
.desc h4{
    color: var(--laranja);
}