.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap);
}

.buttonVideo{
    border: 1px solid var(--laranja);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5em;
    border-radius: 5px;
    color: var(--laranja);
}


.desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap);
}


