.div{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: .8em;
    border-radius: 10px;
    z-index: 10;
    left: 28%;
}
.video{
    width: 30em;
    height: auto;
    color: var(--bg1);
}
.button{
    text-transform: uppercase;
    align-self: flex-end;
    border: none;
    color: var(--bg-1);
    margin-bottom: var(--gap);
    padding: 0.5em;
    background-color: var(--laranja);
    cursor: pointer;
    font-weight: 600;
    border-radius: .5em;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;

}
.button:hover{
    transform: scale(1.1);
    transition-duration: .2s;
    border: 1px solid var(--bg-1);
}

.div figcaption{
    color: var(--bg-1);
    width: 30em;
}

@media (max-width:1000px) {
    .div{
        width: 22em; 
        left: 50%;
        
    }
    .video{
        width: 20em;
    }
    figcaption{
        font-size: 12px;
    }
}