.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--gap);
    height: 100vh;
    min-height: 100vh;
    gap: 2em;
    z-index: 1;

}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 58%) 100%, rgba(1, 1, 3, 0.6138830532212884) 100%, rgba(0, 212, 255, 1) 100%),
        url(../../assets/images/wallpaper-house.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: skewY(-3deg);    
    transform-origin: bottom left;
    z-index: -1;
}

.header img{
   width: calc(15vw - 10px);
}
.desc h1{
    margin-bottom: var(--gap);
}

.desc h1,h2{
    color: var(--bg-1);
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 60vh;
    gap: 2em;
    margin-left: 5em;
}

.button:hover{
    color: var(--laranja);
    background-color: var(--bg-1);
    animation-duration: .2s;
}