.modal{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem;
  
}

.modalForm{
    background-color: var(--bg-1);
    height: 90vh;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--gap);
    gap: var(--gap);
}

.formGrid{
    display: grid;
    grid-template:"inputs buttons"
    /3fr 150px;
    gap: 5em; 
}

.form{
    display: flex;
}

.inputs{
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2em;
    grid-area: buttons;
}


.prev, .next{
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding: var(--gap);
    cursor: pointer;
}
.prev{
    background-color: transparent;
    color: var(--laranja);
}


.next{
    background: var(--verde);
    color: var(--bg-1);
    border-radius: 0.5em;
}

.prev:disabled{
    color: #FF8989;
    cursor:auto;
}
.next:disabled{
    background-color: #BEFF9F;
    cursor:auto;
}

.closeButton{
    padding: 1em 2em;
    color: var(--bg-1);
    background: var(--black-1);
}
.closeButton{
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: .5em;
    border: none;

}
.closeButton:hover{
transform: scale(1.1);
}

.close{
    position: absolute;
    top: 1rem;
    right: 4rem;
    padding: 0.5em;
    background-color: var(--laranja);
    color: var(--bg-1);
}

.check{
    width: 5em;
}

.disappear{
    display: none;
}

/* Modal */

.formMobile{
    display: flex;
    flex-direction: column;
  
}

.loadingOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    pointer-events: all;
}